apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-kafka-consumer
spec:
  strategy:
    rollingUpdate:
      maxUnavailable: 0
  replicas: {{ .Values.replicaCount }}
  selector:
      matchLabels:
        app: {{ .Release.Name }}-kafka-consumer
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-kafka-consumer
      annotations:
        prometheus.io/path: {{ .Values.metrics.path }}
        prometheus.io/port: {{ .Values.port | quote }}
        prometheus.io/scrape: {{ .Values.metrics.enabled | quote }}
    spec:
      serviceAccountName: {{ .Values.serviceAccountName }}
      containers:
        - name: {{ .Values.name }}
          image: {{ .Values.image.name }}:{{ .Values.image.tag }}
          imagePullPolicy: Always
{{ if .Values.auth.enabled }}
  {{ if not .Values.auth.saslPassword }}
          volumeMounts:
            - name: kafka-secrets-volume
              mountPath: /secrets-files
  {{ end }}
{{ end }}
          ports:
            - containerPort: {{ .Values.port }}
          env:
            - name: KAFKA_BROKER
              value: {{ .Values.broker }}
            - name: GROUP_ID
              value: {{ .Values.groupId | default .Release.Name }}
            - name: TARGET_BASE_URL
              value: {{ .Values.target.baseUrl | default (printf "http://%s" .Release.Name) }}:{{ .Values.target.port }}
            - name: TOPICS_ROUTES
              value: {{ .Values.target.topicsRoutes }}
            - name: TARGET_HEALTHCHECK
              value: {{ .Values.target.healthcheck }}
            {{- if .Values.correlation.enforce }}
            - name: ENFORCE_CORRELATION_ID
              value: {{ .Values.correlation.enforce | squote }}
            {{- end }}
  -         {{- if .Values.correlation.header }}
            - name: CORRELATION_HEADER
              value: {{ .Values.correlation.header | squote }}
            {{- end }}
            {{- if .Values.retry  }}
            - name: RETRY_TOPIC
              value: {{ .Values.retry.topic | default (printf "%s-retry" .Release.Name) }}
            {{- end }}
            {{- if .Values.deadLetter }}
            - name: DEAD_LETTER_TOPIC
              value: {{ .Values.deadLetter.topic | default (printf "%s-dead-letter" .Release.Name) }}
            {{- end }}
            - name: PROCESSING_DELAY
              value: {{ .Values.target.pocessingDelay | default "0" | squote}}
            - name: USE_PROMETHEUS
              value: {{ .Values.metrics.enabled | squote }}
            - name: MONITORING_SERVER_PORT
              value: {{ .Values.port | squote }}
            {{- if .Values.maxPollRecords }}
            - name: MAX_POLL_RECORDS
              value: {{ .Values.maxPollRecords | squote }}
            {{- end }}
            {{- if .Values.targetTimeoutMs }}
            - name: TARGET_TIMEOUT_MS
              value: {{ .Values.targetTimeoutMs | squote }}
            {{- end }}
            {{- if .Values.debug }}
            - name: DEBUG
              value: {{ .Values.debug | squote }}
            {{- end }}
            - name: USE_SASL_AUTH
              value: {{ .Values.auth.enabled | squote }}
        {{- if .Values.auth.enabled }}
            - name: SASL_USERNAME
              value: {{ .Values.auth.saslUsername }}
            {{- if .Values.auth.saslPassword }}
            - name: SASL_PASSWORD
              value: {{ .Values.auth.saslPassword | squote }}
            {{- else if .Values.auth.secrets.useOpaqueSecrets }}
            - name: SASL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-kafka-consumer
                  key: SASL_PASSWORD
            {{- else }}
            - name: SASL_PASSWORD_FILE_PATH
              value: {{ .Values.auth.saslPasswordFilePath| squote }}
            {{- end }}
            {{- if .Values.auth.secrets.useTruststore }}
            - name: TRUSTSTORE_FILE_PATH
              value: /secrets-files/truststore
            {{- if .Values.auth.secrets.useOpaqueSecrets}}
            - name: TRUSTSTORE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-kafka-consumer
                  key: TRUSTSTORE_PASSWORD
            {{- else }}
            - name: TRUSTSTORE_PASSWORD_FILE_PATH
              value: /secrets-files/TRUSTSTORE_PASSWORD
            {{- end }}
            {{- end }}
        {{- end }}
          livenessProbe:
{{ toYaml .Values.livenessProbe | indent 12 }}
          readinessProbe:
{{ toYaml .Values.readinessProbe | indent 12 }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
{{ if .Values.auth.enabled }}
  {{ if not .Values.auth.saslPassword }}
      volumes:
        - name: kafka-secrets-volume
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ .Release.Name }}-kafka-consumer
  {{ end }}
{{ end }}